<!-- We(github.com/osoc16/mijn-viaa) changed this file from the original source -->
<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The portal to VIAA all content partners have been waiting for!</h2>
                <hr class="light">
                <p class="text-faded">
                    The most important statistics that content partners want to see are presented in fashionable yet soothing way!
                    <br>All important services linked together for content partners their convenience.
                </p>
            </div>
        </div>
    </div>
</section>
