<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">The portal to VIAA you've been waiting for!</h2>
                <hr class="light">
                <p class="text-faded">
                    The most important statistics you want to see are presented in fashionable yet soothing !
                    <br>All important services linked together for your convenience.
                </p>
            </div>
        </div>
    </div>
</section>
