<!-- We(github.com/osoc16/mijn-viaa) changed this file from the original source -->
<header>
    <div class="header-content bg-dark-transparent">
        <div class="header-content-inner">
            <br>
            <h1>Mijn VIAA</h1>
            <hr>
            <p>A portal for all VIAA services.<br>Everything you need in one place.</p>
            <a href="#about" class="btn btn-primary btn-xl page-scroll">Check it out</a>
            <br>
            <br>
        </div>
    </div>
</header>
