<!-- We(github.com/osoc16/mijn-viaa) changed this file from the original source -->
<section class="no-padding" id="screenshots">
    <div class="container-fluid bg-dark">
        <div class="row no-gutter">
            <br/>
            <br/>
            <br/>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/computer.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/computer3.png" class="img-responsive" alt="">
            </div>
            <div class="col-lg-4 col-sm-6">
                <img src="img/portfolio/computer2.png" class="img-responsive" alt="">
            </div>
            
        </div>
        <br/>
        <br/>
        <br/>
    </div>
</section>
