<!-- We(github.com/osoc16/mijn-viaa) changed this file from the original source -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Designed for VIAA's Content Partners</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-star wow bounceIn text-primary"></i>
                    <h3>The Numbers you need</h3>
                    <p class="text-muted">No more asking around for how those numbers are holding up.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-bar-chart wow bounceIn text-primary" data-wow-delay=".1s"></i>
                    <h3>Beautiful Graphs</h3>
                    <p class="text-muted">See your most important statistics.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-external-link wow bounceIn text-primary" data-wow-delay=".2s"></i>
                    <h3>A Crossroads for other Services</h3>
                    <p class="text-muted">All other services linked together!</p>
                    
                </div>
            </div>
            <div class="col-lg-3 col-md-6 text-center">
                <div class="service-box">
                    <i class="fa fa-4x fa-rss-square wow bounceIn text-primary" data-wow-delay=".3s"></i>
                    <h3>Up to Date</h3>
                    <p class="text-muted">Database queries always get the current status of your content.</p>
                </div>
            </div>
        </div>
    </div>
</section>
