<section id="team">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Meet the team</h2>
                <hr class="primary">
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-lg-3 text-center">
                <img src="img/team/eva.jpg" class="faces-img"/>
                <h3>Eva</h3>
                <p class="text-muted">Front end development</p>
                <p>
                    <a href=" https://www.linkedin.com/in/eva-jacobs-bab95911a" target="_blank"><i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>                    
                </p>  
               
            </div>
            <div class="col-lg-3 text-center">
                <img src="img/team/tjen.jpg" class="faces-img" />
                <h3>Tjen</h3>
                <p class="text-muted">Back end development</p>
                <p>
                    <a href="https://twitter.com/tjenwellens" target="_blank"><i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/tjenwellens" target="_blank"><i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>                    
                </p>   
            </div>
            <div class="col-lg-3 text-center">
                <img src="img/team/laurens.jpg" class="faces-img" />
                <h3>Laurens</h3>
                <p class="text-muted">Front end development</p>
                <p>
                    <a href="https://www.linkedin.com/in/laurens-de-cock-395613116" target="_blank"><i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>                    
                </p>        
            </div>
            <div class="col-lg-3 text-center">
                <img src="img/team/sander.jpg" class="faces-img" />
                <h3>Sander</h3>
                <p class="text-muted">Coaching</p>
                <p>
                    <a href="https://twitter.com/sandmeert" target="_blank"><i class="fa fa-twitter fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                    &nbsp;&nbsp;
                    <a href="https://www.linkedin.com/in/sander-meert-2b64689a" target="_blank"><i class="fa fa-linkedin fa-3x wow bounceIn" data-wow-delay=".1s"></i></a>
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 text-center">
                <br><br>
                <p>And thanks to Brecht, our querier @VIAA!</p>
                <br>
                <p>Thanks to Matthias and Bart for their constructive feedback.</p>
            </div>

        </div>
    </div>
</section>
